<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="pelorus.core" type="Pelorus.Core.Configuration.CoreConfigurationSection, Pelorus.Core" />
  </configSections>
  <pelorus.core>
    <ioc>
      <mappers>
        <add type="Pelorus.Core.Test.Integration.UnityTestClasses.TestMapper0, Pelorus.Core.Test.Integration" />
      </mappers>
    </ioc>
    <diagnostics>
      <traceSources>
        <add name="TestTraceSource" />
      </traceSources>
    </diagnostics>
  </pelorus.core>
  <connectionStrings>
    <add name="PelorusTraceConnection" connectionString="Server=.\SQLEXPRESS;Database=Pelorus;Trusted_Connection=True;" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!-- <register type="Pelorus.Core.Test.Integration.UnityTestClasses.ITest, Pelorus.Core.Test.Integration" mapTo="Pelorus.Core.Test.Integration.UnityTestClasses.Test1, Pelorus.Core.Test.Integration" /> -->
    </container>
  </unity>
  <system.diagnostics>
    <sources>
      <source name="TestTraceSource" switchName="TestSwitch">
        <listeners>
          <add name="TestTraceListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="TestSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="TestTraceListener"
           type="Pelorus.Core.Diagnostics.SqlServerTraceListener, Pelorus.Core"
           connectionStringName="PelorusTraceConnection" />
    </sharedListeners>
  </system.diagnostics>
</configuration>