<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PelorusTraceConnection" connectionString="Server=.\SQLEXPRESS;Database=Pelorus;Trusted_Connection=True;" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="TestTraceSource" switchName="TestSwitch">
        <listeners>
          <add name="TestTraceListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="TestSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="TestTraceListener"
           type="Pelorus.Core.Diagnostics.SqlServerTraceListener, Pelorus.Core"
           connectionStringName="PelorusTraceConnection" />
    </sharedListeners>
  </system.diagnostics>
</configuration>