<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="pelorus.core">
      <section name="web" type="Pelorus.Core.Web.Configuration.CoreWebConfigurationSection, Pelorus.Core.Web" />
      <section name="diagnostics" type="Pelorus.Core.Configuration.DiagnosticsConfigurationSection, Pelorus.Core, Version=1.0.0.0, Culture=neutral" />
    </sectionGroup>
  </configSections>
  <pelorus.core>
    <web>
      <applicationLogFeed>
      <connectionString name="Pelorus" />
      <channel>
        <title value="HelloWorld" />
        <skipDays>
          <sunday />
          <tuesday />
          <thursday />
        </skipDays>
      </channel>
    </applicationLogFeed>
    </web>
    <diagnostics>
      <traceSources>
        <add name="TestTraceSource" />
      </traceSources>
    </diagnostics>
  </pelorus.core>
  <system.diagnostics>
    <sources>
      <source name="TestTraceSource" switchValue="All" >
        <listeners>
          <add name="PelorusListener" type="Pelorus.Core.Diagnostics.SqlServerTraceListener, Pelorus.Core" connectionStringName="Pelorus" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Pelorus" connectionString="Server=.\DEV0;Database=Pelorus;Trusted_Connection=True;" />
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ApplicationLogRss" path="*.rss" verb="GET," type="Pelorus.Core.Web.ExceptionLogging.ErrorRssFeedHttpHandler, Pelorus.Core.Web, Version=1.0.0.0, Culture=neutral" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <modules>
      <add name="ExceptionLogging" type="Pelorus.Core.Web.ExceptionLogging.ExceptionLoggingHttpModule, Pelorus.Core.Web" preCondition="integrated" />
    </modules>
  </system.webServer>
</configuration>
